ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.option-block {
  display: flex;
  margin-bottom: 10px;
}

.option-block:last-child {
  margin-bottom: 0;
}

.option-category {
  flex: 1;
  padding: 10px;
  font-size: 120%;
}

.option-values {
  flex: 3;
  padding: 10px;
}

.footer {
  margin: 20px 10px;
}

#save-options {
  background: rgb(26, 115, 232);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
